
/*  */

/*  */


.fbg-red { background: red; }
.fbg-green { background: green; }
.fbg-blue { background: blue; }

.fbg-pink { background: pink; }


/* сделать еще  fbg-12345   с рандомными цветами */


/* End */