
.font-nfs-carbon { font-family: 'NFS Carbon 2' ; }

@font-face
{
	font-family: "NFS Carbon 2";
	
    src: local('?'), /* Всегда грузит только с сайта */
        url("font.otf")   format("opentype");
		
	/*

	*/
	
	font-weight: normal;
	font-style: normal;
	
}