
/* Тут основные цвета проекта */
/* 123 */

:root {
	
	/* 2 ГЛАВНЫХ ЦВЕТА */
	--brk-base: #2775FF ;
	--brk-sec:  #7202bb ;
	
	/* Оттенки BASE */
	--brk-base-1: #1600ba ;
	--brk-base-2: #0F5AE0 ;
	--brk-base-3: #0B98F6 ;
	--brk-base-4: #00c6ff ;
	--brk-base-5: #00f6ff ;
	--brk-base-6: #a7ebff ;
	
	/* Оттенки SEC */
	--brk-sec-1: #6377DF ; /*  центр-темные версии, середина-переходные  края-светлые версии  */
	--brk-sec-2: #4f34c9 ;
	--brk-sec-3: #4F00BA ;
	--brk-sec-4: #7400ba ;
	--brk-sec-5: #6e50c2 ;
	--brk-sec-6: #b50aff ;
	
	/* Цвет текста почти как 2 осн цвета */
	--brk-text-subbase: #0F5AE0 ; /* почти как базовый цвет */ /* у ftc как base-2 */
	--brk-text-subsec:  #4F00BA ; /* почти как второй цвет  */ /* у ftc как sec-3  */
	
	
	
	
}

/* End */