
.font-x-files { font-family: 'X-FIles' ; }

@font-face
{
	font-family: "X-FIles";
	
    src: local('?'), /* Всегда грузит только с сайта */
		url("font.ttf")   format("truetype");   /* все современные браузеры */
		
	/*

	*/
	
	font-weight: normal;
	font-style: normal;
	
}