
.font-111111 { font-family: '12345' ; }

@font-face
{
	font-family: "12345";
	
    src: local('?'), /* Всегда грузит только с сайта */
        url("font.woff")  format("woff"),   /* все современные браузеры, IE9+ */
		url("font.woff2") format("woff2"),
        url("font.otf")   format("opentype"),
		url("font.ttf")   format("truetype");   /* все современные браузеры */
	
	font-weight: normal;
	font-style:  normal;
	
}