
/*  */

/*  */

.bg-blackout-1 { background-color: rgba(0,0,0,0.1); }
.bg-blackout-2 { background-color: rgba(0,0,0,0.2); }
.bg-blackout-3 { background-color: rgba(0,0,0,0.3); }
.bg-blackout-4 { background-color: rgba(0,0,0,0.4); }
.bg-blackout-5 { background-color: rgba(0,0,0,0.5); }
.bg-blackout-6 { background-color: rgba(0,0,0,0.6); }
.bg-blackout-7 { background-color: rgba(0,0,0,0.7); }
.bg-blackout-8 { background-color: rgba(0,0,0,0.8); }
.bg-blackout-9 { background-color: rgba(0,0,0,0.9); }



/* End */