
.font-news-pravda { font-family: 'Newspaper Pravda' ; }

@font-face
{
	font-family: "Newspaper Pravda";
	
    src: local('?'), /* Всегда грузит только с сайта */
        url("font.otf")   format("opentype");
		
	/*
	
	*/
	
	font-weight: normal;
	font-style: normal;
	
}