
.font-matrix { font-family: 'Matrix vs Miltown' ; }

@font-face
{
	font-family: "Matrix vs Miltown";
	
    src: local('?'), /* Всегда грузит только с сайта */
		url("font.ttf")   format("truetype");   /* все современные браузеры */
		
	/*

	*/
	
	font-weight: normal;
	font-style: normal;
	
}