
.font-electronica { font-family: 'Electronica' ; }

@font-face
{
	font-family: "Electronica";
	
    src: local('?'), /* Всегда грузит только с сайта */
        url("font.otf")   format("opentype");
		
	/*

	*/
	
	font-weight: normal;
	font-style: normal;
	
}