
/*  */

/*  */




/* еще ОБЯЗАТЕЛЬНО дописать целевому ID "position: relative;" иначе канвас не виден*/
/* Сделал дописывание через скрипт запуска канваса */

/* Класс тега canvas */
.particles-js-canvas-el {
	
	position: absolute;
	
	z-index: 0; /* было 10 и -1*/
	/*
	-1 = будет на фоне, кликать и играть мышкой нельзя, выделять тексты можно
	*/
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	/*  */
}


/* НЕ РОБИТ, на доработку */
.particles-content-raise > div
{
	z-index: 10; /* Поднимаем весь контент над канвасом */
}

/* ДОПИСАТЬ!!!   это чтоб можно было И выделять текст И играть мышкой */
/* Поднимаем весь контент над канвасом (иначе мышка перестанет водить по тексту) */
.canvas_fix
{
	/*
	*/
	position: relative;
	
	z-index: 30; /* Поднимаем весь контент над канвасом */
	
}


/* End */