
.font-gta-5 { font-family: 'Copyright_House_Industries' ; }

@font-face
{
	font-family: "Copyright_House_Industries";
	
    src: local('?'), /* Всегда грузит только с сайта */
        url("font.woff")   format("woff"),   /* все современные браузеры, IE9+ */
		url("font.ttf")   format("truetype");   /* все современные браузеры */
		
	/*

	*/
	
	font-weight: normal;
	font-style: normal;
	
}