
/* Тут основные цвета проекта */
/* 123 */

:root {
	
	/* 2 ГЛАВНЫХ ЦВЕТА */
	--brk-base-rgb:   39 , 117 , 255 ;
	--brk-sec-rgb:   114 ,   2 , 187 ;
	
	/* Оттенки BASE */
	--brk-base-1-rgb:   22 ,   0 , 186 ;
	--brk-base-2-rgb:   15 ,  90 , 224 ;
	--brk-base-3-rgb:   11 , 152 , 246 ;
	--brk-base-4-rgb:    0 , 198 , 255 ;
	--brk-base-5-rgb:    0 , 246 , 255 ;
	--brk-base-6-rgb:  167 , 235 , 255 ;
	
	/* Оттенки SEC */
	--brk-sec-5-rgb:   99 , 119 , 223 ;
	--brk-sec-1-rgb:   79 ,  52 , 201 ;
	--brk-sec-2-rgb:   79 ,   0 , 186 ;
	--brk-sec-3-rgb:  116 ,   0 , 186 ;
	--brk-sec-4-rgb:  110 ,  80 , 194 ;
	--brk-sec-6-rgb:  181 ,  10 , 255 ;
	
	
	
	
	
	
	
	
}

/* End */