
/*  */

/*  */
/* 
inset = Тень выводится внутри элемента. Необязательный параметр.
сдвиг по x = Смещение тени по горизонтали относительно элемента. Положительное значение этого параметра задает сдвиг тени вправо, отрицательное — влево. Обязательный параметр.
сдвиг по y = Смещение тени по вертикали относительно элемента. Положительное значение задает сдвиг тени вниз, отрицательное — вверх. Обязательный параметр.
размытие = Задает радиус размытия тени. Чем больше это значение, тем сильнее тень сглаживается, становится шире и светлее. Если этот параметр не задан, по умолчанию устанавливается равным 0, тень при этом будет четкой, а не размытой.
растяжение = Положительное значение растягивает тень, отрицательное, наоборот, ее сжимает. Если этот параметр не задан, по умолчанию устанавливается 0, при этом тень будет того же размера, что и элемент.
цвет = Цвет тени в любом доступном CSS формате, по умолчанию тень черная. Необязательный параметр.
 */

/*
продумать как назначить отдельно 3 класса - для обячного, hover и active
РЕШЕНИЕ: имя   имя-h   имя-a   и дублировать код, имена классов получаются разные
лучше перечислить имена через запятую
*/

/*  */
/* -webkit-box-shadow: тот же код */

/* ГОТОВЫЕ сеты теней 0-елезаметная 9-огромная */

/* Писал в ручную и подгонял для равномерного увеличения цифр */
.shadow-down-1-1 { box-shadow: 0  2px  8px rgba( 0,0,0 , .45 ); }
.shadow-down-1-2 { box-shadow: 0  4px 12px rgba( 0,0,0 , .45 ); }
.shadow-down-1-3 { box-shadow: 0  6px 16px rgba( 0,0,0 , .45 ); }
.shadow-down-1-4 { box-shadow: 0  8px 20px rgba( 0,0,0 , .45 ); }
.shadow-down-1-5 { box-shadow: 0 10px 26px rgba( 0,0,0 , .45 ); }
.shadow-down-1-6 { box-shadow: 0 12px 30px rgba( 0,0,0 , .45 ); }
.shadow-down-1-7 { box-shadow: 0 14px 36px rgba( 0,0,0 , .45 ); }
.shadow-down-1-8 { box-shadow: 0 16px 40px rgba( 0,0,0 , .45 ); }
.shadow-down-1-9 { box-shadow: 0 18px 46px rgba( 0,0,0 , .45 ); }

/* Откопал где-то, почти не менял цифры */
.shadow-down-2-0 { box-shadow: 0  2px  6px 0 rgba(0, 0, 0, 0.12 ), 0  3px  6px 0 rgba(0, 0, 0, 0.12); }
.shadow-down-2-1 { box-shadow: 0  5px 11px 0 rgba(0, 0, 0, 0.18 ), 0  4px 15px 0 rgba(0, 0, 0, 0.15); }
.shadow-down-2-2 { box-shadow: 0  8px 17px 0 rgba(0, 0, 0, 0.2  ), 0  6px 20px 0 rgba(0, 0, 0, 0.19); }
.shadow-down-2-3 { box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24 ), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
.shadow-down-2-4 { box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22 ), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
.shadow-down-2-5 { box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2  ), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }





/*
*/


/* End */